@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>File Upload Example in AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</head>

<body ng-app="fupApp">

    <div ng-controller="fupController">
        <input type="file" id="file" name="file" multiple
               onchange="angular.element(this).scope().getFileDetails(this)" />

        <input type="button" ng-click="uploadFiles()" value="Upload" />

        <!--ADD A PROGRESS BAR ELEMENT.-->
        <p><progress id="pro" value="0"></progress></p>
    </div>

</body>
<script>
    var myApp = angular.module('fupApp', []);

    myApp.controller('fupController', function ($scope) {

        // GET THE FILE INFORMATION.
        $scope.getFileDetails = function (e) {

            $scope.files = [];
            $scope.$apply(function () {

                // STORE THE FILE OBJECT IN AN ARRAY.
                for (var i = 0; i < e.files.length; i++) {
                    $scope.files.push(e.files[i])
                }

            });
        };

        // NOW UPLOAD THE FILES.
        $scope.uploadFiles = function () {

            //FILL FormData WITH FILE DETAILS.
            var data_ = new FormData();

            for (var i in $scope.files) {
                data_.append("uploadedFile"+i, $scope.files[i]);
            }

            var num = 1200;
            // ADD LISTENERS.
            //var objXhr = new XMLHttpRequest();
            //objXhr.addEventListener("progress", updateProgress, false);
            //objXhr.addEventListener("load", transferComplete, false);

            //// SEND FILE DETAILS TO THE API.
            //objXhr.open("POST", "http://localhost:55588/api/values/LoadFiles");
            //objXhr.send(data);

            $.ajax({
                type: "POST",
                url: "http://localhost:55588/api/values/LoadFiles",
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                data: data_,
                success: function (response) {
                    $("#Content").text(response.d);
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

        // UPDATE PROGRESS BAR.
        function updateProgress(e) {
            if (e.lengthComputable) {
                document.getElementById('pro').setAttribute('value', e.loaded);
                document.getElementById('pro').setAttribute('max', e.total);
            }
        }

        // CONFIRMATION.
        function transferComplete(e) {
            alert("Files uploaded successfully.");
        }
    });
</script>
</html>